<div class="container pt-5" >

  <h1>New Restaurant</h1>

  <%= render 'form', restaurant: @restaurant %>


  <div class= "pt-4">
    <%= link_to 'Back to see all restaurants', restaurants_path %>
  </div>

</div>
